---
layout: default
---

<div class="page-wrapper">
  <div class="container">

    <header class="page-header">
      <h1 class="page-title">{{ page.title }}</h1>
      <p class="page-subtitle">Insights and observations on building in the Hudson Valley.</p>
    </header>

    {%- if site.posts.size > 0 -%}
    <div class="article-list">
      {%- for post in site.posts -%}
      <article class="article-item">
        <div class="article-item__meta">
          <time class="article-item__date" datetime="{{ post.date | date_to_xmlschema }}">
            {{ post.date | date: "%B %-d, %Y" }}
          </time>
        </div>
        <div class="article-item__body">
          <h2 class="article-item__title">
            <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
          {%- if post.description -%}
            <p class="article-item__excerpt">{{ post.description }}</p>
          {%- elsif post.excerpt -%}
            <p class="article-item__excerpt">{{ post.excerpt | strip_html | truncate: 200 }}</p>
          {%- endif -%}
          <a class="article-item__link" href="{{ post.url | relative_url }}">Read more &rarr;</a>
        </div>
      </article>
      {%- endfor -%}
    </div>
    {%- else -%}
    <p class="articles-empty">Articles coming soon.</p>
    {%- endif -%}

  </div>
</div>
