---
layout: default
---

<section class="ip ip--generic ip--{{ page.title | slugify }}">
  <div class="ip__inner ip__inner--wide">
    <header class="ip__head">
      <p class="ip__label">Hudson Valley Building Consulting</p>
      {%- if page.title -%}
      <h1 class="ip__title">{{ page.title }}</h1>
      {%- endif -%}
      {%- if page.subtitle -%}
      <p class="ip__subtitle">{{ page.subtitle }}</p>
      {%- elsif page.description -%}
      <p class="ip__subtitle">{{ page.description }}</p>
      {%- endif -%}
    </header>

    <div class="ip__content">
      {{ content }}
    </div>
  </div>
</section>
